.strip {
  background: var(--bg);
  background-repeat: no-repeat;
}
.strip-white {
  background-color: var(--bg);
}
.strip-grey {
  background-color: var(--surface);
}
.strip-diagonal {
  transform: skewY(5deg);
  padding-bottom: 50px;
  margin-bottom: 65px;
  > div {
    transform: skewY(-5deg);
  }
}
.strip-primary-gradient {
  background-image: linear-gradient(to right, var(--brand-primary), var(--brand-accent));
}
.strip-primary-gradient-top-bottom {
  background-image: linear-gradient(to bottom, var(--brand-primary), var(--brand-accent));
}
.strip-primary {
  background-color: var(--brand-primary);
}
.strip-secondary {
  background-color: var(--brand-accent);
}

.strip-diagonal-right {
  margin-top: -100px;
  transform: skewY(-5deg);
  padding-bottom: 100px;
  > div {
    transform: skewY(5deg);
  }
}

.strip-diagonal-left {
  margin-top: -100px;
  transform: skewY(5deg);
  padding-bottom: 100px;
  > div {
    transform: skewY(-5deg);
  }
}

.strip-bg-contain {
  background-size: contain;
}

.strip-bg-cover {
  background-size: cover;
}
